<a href="https://colab.research.google.com/github/Yam-ghub/Data-Science-Practice/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
import pandas as pd
print(pd.__version__)

SyntaxError: invalid syntax (<ipython-input-48-e616a1e4d356>, line 3)

In [49]:
pip install --upgrade pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 4.0 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 118.8 MB/s eta 0:00:00
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas==2.2.2, but you have pandas 2.2.3 which is incompatible.
Successfully installed pandas-2.2.3

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("/content/Customer_Call _List.xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [ ]:
df.drop_duplicates()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [ ]:
df['Last_Name'].str.strip("123./")

0         Baggins
1           Nadir
2           White
3         Schrute
4            Snow
5         Swanson
6          Winger
7          Holmes
8             NaN
9          Parker
10         Gamgee
11         Potter
12         Draper
13          Knope
14    Flenderson_
15        Weasley
16          Scott
17           Kent
18         Braton
19      Skywalker
20      Skywalker
Name: Last_Name, dtype: object

- It cleans the uncessary characters in the data.

In [ ]:
#This will replace the other values to numeric values only by turning unwanted character into a blank
#using replace
df["Phone_Number"].str.replace('[^a-zA-Z0-9]',' ')

#note: transform the values and it should have the same data type. str, float, etc.
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: str(x))

#
df["Phone_Number"].apply(lambda x: x[0:3]+ '-' + x[3:6] + '-' + x[6:10])

0     123--54-5-54
1     123-/64-3/97
2     706-695-0392
3     123--54-3-23
4     876-|67-8|34
5     304--76-2-24
6            nan--
7     876-|67-8|34
8            N/a--
9     123--54-5-54
10           nan--
11    706-695-0392
12    123--54-3-23
13    876-|67-8|34
14    304--76-2-24
15    123--54-5-54
16    123-/64-3/97
17    706-695-0392
18           N/a--
19    876-|67-8|34
20    876-|67-8|34
Name: Phone_Number, dtype: object

In [83]:
df["Phone_Number"] = df["Phone_Number"].str.replace('nan--',' ')
df["Phone_Number"] = df["Phone_Number"].str.strip("nan")
df["Phone_Number"] = df["Phone_Number"].str.strip("N/a")
df["Phone_Number"] = df["Phone_Number"].str.strip()
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: str(x))
df["Phone_Number"].str.replace('[^a-zA-Z0-9]',' ')
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: str(x))
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: x[0:3]+ '-' + x[3:6] + '-' + x[6:10])
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,------------,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,------------,93 West Main Street,No,Yes,False
2,1003,Walter,White,------------,298 Drugs Driveway,No,NaN,True
3,1004,Dwight,Schrute,------------,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,------------,123 Dragons Road,Yes,No,True
5,1006,Ron,Swanson,------------,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,--,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,------------,98 Clue Drive,No,No,False
8,1009,Gandalf,NaN,--,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,------------,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,--,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,------------,2394 Hogwarts Avenue,Yes,NaN,True
12,1013,Don,Draper,------------,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,------------,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,------------,214 HR Avenue,No,No,False
15,1016,Ron,Weasley,------------,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,------------,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,------------,3498 Super Lane,Yes,NaN,True
18,1019,Creed,Braton,--,N/a,No/a,Yes,True
19,1020,Anakin,Skywalker,------------,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,------------,"910 Tatooine Road, Tatooine",Yes,N,True

In [50]:
df['Address'].str.split(pat=None, n=-1, expand=False)

0                      [123, Shire, Lane,, Shire]
1                        [93, West, Main, Street]
2                          [298, Drugs, Driveway]
3     [980, Paper, Avenue,, Pennsylvania,, 18503]
4                            [123, Dragons, Road]
5                            [768, City, Parkway]
6                           [1209, South, Street]
7                               [98, Clue, Drive]
8                            [123, Middle, Earth]
9                [25th, Main, Street,, New, York]
10                     [612, Shire, Lane,, Shire]
11                       [2394, Hogwarts, Avenue]
12                           [2039, Main, Street]
13                           [343, City, Parkway]
14                              [214, HR, Avenue]
15                       [2395, Hogwarts, Avenue]
16            [121, Paper, Avenue,, Pennsylvania]
17                            [3498, Super, Lane]
18                                          [N/a]
19               [910, Tatooine, Road,, Tatooine]
20               [910, Tatooine, Road,, Tatooine]
Name: Address, dtype: object

In [70]:
df["Paying Customer"].apply(lambda x: str(x))
df["Paying Customer"] = df["Paying Customer"].str.replace('Y', 'Yes')
df["Paying Customer"] = df["Paying Customer"].str.replace('Noooo', 'No')
df["Paying Customer"]

0      Yes
1       No
2       No
3      Yes
4      Yes
5      Yes
6       No
7       No
8      Yes
9      Yes
10     Yes
11     Yes
12     Yes
13     Yes
14      No
15      No
16     Yes
17     Yes
18    No/a
19     Yes
20     Yes
Name: Paying Customer, dtype: object

In [71]:
df.fillna('')

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,No,,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Yes,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,No,No,False
8,1009,Gandalf,,,123 Middle Earth,Yes,,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Yes,,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,No,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Yes,,True
18,1019,Creed,Braton,,N/a,No/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [94]:
df["Do_Not_Contact"] = df["Do_Not_Contact"].fillna('')
df["Do_Not_Contact"]
df["Do_Not_Contact"] = df["Do_Not_Contact"].

0     No
2
4     No
6     No
7     No
8
9     No
10    No
11
12     N
13    No
14    No
15     N
16    No
17
19     N
20     N
Name: Do_Not_Contact, dtype: object

In [96]:
for x in df.index:
  if df.loc[x, "Do_Not_Contact"] == ' ';
    df.drop(x, inplace=True)

df["Do_Not_Contact"]

0     No
2
4     No
6     No
7     No
8
9     No
10    No
11
12     N
13    No
14    No
15     N
16    No
17
19     N
20     N
Name: Do_Not_Contact, dtype: object

In [97]:
df = df.reset_index(drop=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,------------,"123 Shire Lane, Shire",Yes,No,True
1,1003,Walter,White,------------,298 Drugs Driveway,No,,True
2,1005,Jon,Snow,------------,123 Dragons Road,Yes,No,True
3,1007,Jeff,Winger,--,1209 South Street,No,No,False
4,1008,Sherlock,Holmes,------------,98 Clue Drive,No,No,False
5,1009,Gandalf,NaN,--,123 Middle Earth,Yes,,False
6,1010,Peter,Parker,------------,"25th Main Street, New York",Yes,No,True
7,1011,Samwise,Gamgee,--,"612 Shire Lane, Shire",Yes,No,True
8,1012,Harry,Potter,------------,2394 Hogwarts Avenue,Yes,,True
9,1013,Don,Draper,------------,2039 Main Street,Yes,N,False
10,1014,Leslie,Knope,------------,343 City Parkway,Yes,No,False
11,1015,Toby,Flenderson_,------------,214 HR Avenue,No,No,False
12,1016,Ron,Weasley,------------,2395 Hogwarts Avenue,No,N,False
13,1017,Michael,Scott,------------,"121 Paper Avenue, Pennsylvania",Yes,No,False
14,1018,Clark,Kent,------------,3498 Super Lane,Yes,,True
15,1020,Anakin,Skywalker,------------,"910 Tatooine Road, Tatooine",Yes,N,True
16,1020,Anakin,Skywalker,------------,"910 Tatooine Road, Tatooine",Yes,N,True